.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 2rem;
}
.card-container::-webkit-scrollbar{
    width: 0;
}
@media screen and (max-width:800px) {
    .card-container{
        margin-top: 2rem;
    }
}